HeavyBoot/ClientApp/Connected Services/WCFService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateClient" type="xs:dateTime" />
        <xs:element minOccurs="0" name="exporTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="importTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>